@import "../../styles/mixins";

.pageContainer {
  @include flexColumn;
  gap: 30px;

  h3 {
    font-size: 24px;
  }
  .header {
    @include flexRow;
    justify-content: space-between;

    .score {
      font-size: 24px;
    }
  }

  .gallery {
    @include flexRow;
    gap: 20px;
  }

  .description, .menu, .reviews, .features {
    @include flexColumn;
    gap: 10px;
  }
}
