@import "../../../styles/mixins";

.tagContainer {
  @include flexRow;
  gap: 8px;
  align-items: center;
  div {
    width: 24px;
    .icon {
      height: 100%;
    }
  }

  .title {
    font-weight: 400;
    font-size: 18px;
  }
}