@import "../../styles/mixins";
.infoCard {
  min-width: 30%;
  @include flexColumn;
  justify-content: space-between;
  .info {
    @include flexColumn;
    gap: 10px;
    font-size: 18px;
  }
  .actions {
    @include flexColumn;
    gap: 15px;
    .actionSection {
      @include flexRow;
      justify-content: space-between;
    }
  }

}