.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  padding: 0 50px;
  border-radius: 5px;
  border: 1px solid #2D2D2D;
  font-size: 13px;
  cursor: pointer;
  &:hover {
    text-shadow: 0.5px 0.5px 2px rgba(17, 46, 62, 0.25);
  }
}