@import '../../../styles/variables';
.container {
  text-align: center;
  width: 230px;
  .title {
    font-size: 36px;
    color: $logo_font_color
  }
  .subtitle {
    font-size: 13px;
    text-align: center;
  }
}
