@import "../../../styles/mixins";

.background {
  @include modalWindowBackground;

  .container {
    width: 70vw;
    height: 50vh;
    @include modalWindow;

    .inputSection {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 50px;
      width: 100%
    }
    .button {
      width: 50%;
      align-self: center;
    }
  }
}